
#canvas {
    border: 5px solid black;
}

#interfaceContainer      {
    position: absolute;
    /* left: 90%;
    top: 40%; */
    display: flex;
    flex-direction: row;
    
}

#controlPanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#upDownButtons {
    display: flex;
    flex-direction: column;
}

.controlButton {
    max-width: 40px;
    max-height: 40px;
}