.pokemon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  
    .button {
      padding: 5px 10px;
      border: none;
      color: white;
  
      &.can-buy {
        background-color: #28a745;
        cursor: pointer;
  
        &:hover {
          background-color: #218838;
        }
      }
  
      &.cannot-buy {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  