.random-market {
    text-align: center;
  
    .buy-button {
      background-color: #28a745;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
  
      &:hover {
        background-color: #218838;
      }
    }
  }
  