.pvpArea {
    border: 1px solid black;
}

.button {
    align-items: center;
}

.buttonMenu {
    display: flex;
}

.hpBar {
    border-radius: 5px;
}

.secondPlayerButtonn {
    margin-left: 700px;
}

.hideButton {
    display: none;
}

.showButton {
    display: block;
}
